




<div class="row">
  <div class="col-md-6 login-container"id="tabcontainer" > 
    <div class="card bg-light mb-3">
      <a routerLink="/bootstrap-prototype">
        <!-- <div class="card-header">
          <div class="row">
            <div class="col-10 col-xl-10">
              <h5 class="card-title">Bootstrap Prototype</h5>
            </div>
            <div class="col-2 col-xl-2">
              <i class="fab fa-bootstrap fa-lg text-primary"></i>
            </div>
          </div>
        </div> -->
        <div class="card-body">
          <h5> Billing & Payment History</h5>
          <p class="card-text">Update your billing and payment information here.</p>
          <br>
          <b> Last Payment</b><br>
          <b>$$$ on MM/DD/YYYY</b>
        </div>
      </a>
    </div>
    </div>
</div>




<!-- <input type="submit" routerLink="/bootstrap-prototype"> -->



<!-- <div class="row pt-1 mb-2">
    
  </div>
  <hr>
  <div class="row mb-1">
    <div class="col-md-12 text-center">
      <h3 class="h6">Features&nbsp;&nbsp;<i class="fas fa-list"></i></h3>
    </div>
  </div>
  
  <div class="row pt-2">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
      <div class="card bg-light mb-3">
        <a routerLink="/bootstrap-prototype">
          <div class="card-header">
            <div class="row">
              <div class="col-10 col-xl-10">
                <h5 class="card-title">Bootstrap Prototype</h5>
              </div>
              <div class="col-2 col-xl-2">
                <i class="fab fa-bootstrap fa-lg text-primary"></i>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">Bootstrap Prototype Description</p>
          </div>
        </a>
      </div>
    </div>      
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
      <div class="card bg-light mb-3">
        <div class="card-header">
          <div class="row">
            <div class="col-10 col-xl-10">
              <h5 class="card-title">Components</h5>
            </div>
            <div class="col-2 col-xl-2">
              <i class="fas fa-share-alt-square fa-lg text-primary"></i>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">Components Description</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
      <div class="card bg-light mb-3">
        <div class="card-header">
          <div class="row">
            <div class="col-10 col-xl-10">
              <h5 class="card-title">Services</h5>
            </div>
            <div class="col-2 col-xl-2">
              <i class="far fa-address-card fa-lg text-primary"></i>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">Services Description</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
      <div class="card bg-light mb-3">
        <div class="card-header">
          <div class="row">
            <div class="col-10 col-xl-10">
              <h5 class="card-title">Reactive Form</h5>
            </div>
            <div class="col-2 col-xl-2">
              <i class="far fa-address-card fa-lg text-primary"></i>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">Reactive Form Description</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
      <div class="card bg-light mb-3">
        <div class="card-header">
          <div class="row">
            <div class="col-10 col-xl-10">
              <h5 class="card-title">Template Driven Forms</h5>
            </div>
            <div class="col-2 col-xl-2">
              <i class="far fa-address-card fa-lg text-primary"></i>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">Template Driven Forms Description</p>
        </div>
      </div>
    </div>
  </div> -->